@font-face {
    font-family: 'northregular';
    src: url('north-webfont.woff2') format('woff2'),
         url('north-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

header.navigation {
    margin: 50px 125px auto 125px;
    font-family: northregular;
}

.nav-links {
    display: flex;
}


.nav-left {
    display: inline;
    margin-left: -40px;
    margin-top: 50px;
    margin-right: 100px;
}

.nav-centre {
    display: inline;
    margin: auto;
}

.nav-logo {
    width: 250px;
}

svg.nav-logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.nav-right {
    display: inline;
    margin-top: 50px;
    margin-left: 70px;
}

.fullscreen-bg__video {
    width:100%; 
    height:100%; 
    object-fit:cover; 
}

.full-height {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.sub-heading {
    position: absolute;
    background-color: lightskyblue;
}

h1.front-page {
    font-family: 'Alata', sans-serif;
    color: black;
    font-size: 30px;
    letter-spacing: 2px;
}






